[Unit]
Description=ONE Docker Frontend Setup Service

[Service]
PassEnvironment=ONEDOCKER_FRONTEND_SERVICE
PassEnvironment=ONEADMIN_PASSWORD
PassEnvironment=ONEADMIN_SSH_PRIVKEY
PassEnvironment=ONEADMIN_SSH_PUBKEY
PassEnvironment=MYSQL_DATABASE
PassEnvironment=MYSQL_USER
PassEnvironment=MYSQL_PASSWORD
PassEnvironment=MYSQL_ROOT_PASSWORD
PassEnvironment=OPENNEBULA_HOSTNAME
Type=oneshot
ExecStart=/bin/sh -c /onedocker-frontend.sh
RemainAfterExit=true
#StandardOutput=journal

[Install]
WantedBy=default.target
