[Unit]
Description=ONE Docker Frontend Setup Service

[Service]
PassEnvironment=OPENNEBULA_FRONTEND_SERVICE
PassEnvironment=OPENNEBULA_FRONTEND_HOSTNAME
PassEnvironment=OPENNEBULA_FRONTEND_PUBLISHED_SSHPORT
PassEnvironment=OPENNEBULA_NODE_SSHPORT
PassEnvironment=OPENNEBULA_NODE_HOSTNAME
PassEnvironment=OPENNEBULA_NODE_IM_MAD
PassEnvironment=OPENNEBULA_NODE_VM_MAD
PassEnvironment=OPENNEBULA_DEFAULT_VNET_BRIDGE
PassEnvironment=OPENNEBULA_DEFAULT_VNET_NAME
PassEnvironment=OPENNEBULA_DEFAULT_VNET_DNS
PassEnvironment=OPENNEBULA_DEFAULT_VNET_ADDR
PassEnvironment=OPENNEBULA_DEFAULT_VNET_GATEWAY
PassEnvironment=OPENNEBULA_DEFAULT_VNET_POOLSTART
PassEnvironment=OPENNEBULA_DEFAULT_VNET_POOLSIZE
PassEnvironment=ONEADMIN_PASSWORD
PassEnvironment=ONEADMIN_SSH_PRIVKEY
PassEnvironment=ONEADMIN_SSH_PUBKEY
PassEnvironment=MYSQL_DATABASE
PassEnvironment=MYSQL_USER
PassEnvironment=MYSQL_PASSWORD
PassEnvironment=MYSQL_ROOT_PASSWORD
Type=oneshot
ExecStart=/bin/sh -c /onedocker-frontend.sh
RemainAfterExit=true
#StandardOutput=journal

[Install]
WantedBy=default.target
